th a{
  text-decoration: none;
  color: black;
}

th a:hover {
  color: gray;
}
.chart {
  height: 3rem;
  width: 8rem;
}

#main-container {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

tbody img{
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
}

/* Wordpress Styles*/
#wp-admin-bar-new-elementor_lead {
  display: none;
}

body.post-type-elementor_lead .wrap a.page-title-action {
  display: none;
}